.header{
    background-color: var(--cor-grey-2);
    height: 10vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    z-index: 1;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;
    margin: 0 1.5rem;
}
.header__container figure{

}
.header__container figure img{

}
.header__container nav{

}
.header__container nav button{

}