
.perfil__container{
    display: flex;
    flex-direction: column;

}
.perfil{
    display: flex;
    flex-direction: row;
}
.perfil figure{
    width: 3rem;
}
.perfil figure img{
    width: 100%;
}
.perfil div{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: auto .75rem;

    width: 120px;
}
.perfil div h2{
    font-weight: var(--peso-2);
    font-size: var(--texto-2);
}
.perfil div p{
    font-size: var(--texto-3);
}
.perfil__container button{

}